.title{
    font-weight: 500;
    font-size: 48px;
    text-align: center;
    color: #2A363B;
    padding-top: 150px;
    padding-bottom: 150px;
}

.link{
    color:#3c76d2;
    text-decoration: none;
}